*, *:after, *:before {
    box-sizing: border-box;
}

body {
    padding: 0.5rem;
}

.board {
    max-width: 28.125rem;
    height: 28.125rem;
    margin-bottom: 1rem;
}

.board-cell {
    width: 9.375rem;
    height: 9.375rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.score-table {
    max-width: 28.125rem;
    padding: 0 0.5rem;
}

.score-table td, .score-table th {
    text-align: center;
}

#game-mode{
    max-width: 28.125rem;
}

#player2-header, #player2-score {
    border-left: 1px solid #ececec;
}

@media screen and (max-width: 39.9375em) {
    body {
        height: 100vh;
    }
    .board {
        width: 100%;
        height: 50vh;
    }
    .board-cell {
        width: 33.333%;
        height: 33.333%
    }
}