*, *:after, *:before {
    box-sizing: border-box;
}
.board {
    width: 450px;
    height: 450px;
}

.board-cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#restart {
    margin-top: 1rem;
}

.score-table {
    margin: 1rem 0 0;
    width: 20rem;
}

.score-table td, .score-table th {
    text-align: center;
}

#game-mode {
    width: 20rem;
    margin-top: 1rem;
}